<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

	<script type="text/javascript">
		// CONSTANTS...
		// Html...
		const INPUT_ID = "github-username-input";
		const PROFILE_IMG_ID = "profile-img";
		const REPOS_LIST_ID = "repos-list";
		const REPOS_HEADER_ID = "repos-header";

		const SRC_ATTR = "src";
		const TYPE_EVENT = "keyup";
		const ENTER_KEYCODE = 13;
		// Json...
		const JSON_NAME_KEY = "name";
		const JSON_OWNER_KEY = "owner";
		const JSON_IMG_KEY = "avatar_url";

		$(function(){

			// set typing listener on username input
			$(`#${INPUT_ID}`).on(TYPE_EVENT, function (e) {
				if (e.keyCode == ENTER_KEYCODE) { // if user hits enter key, then send request

					var input = $(e.currentTarget);
					var username = input.val();
					makeGithubRequest(username, function (data) {
						// glean relevant info from response
						var repos = repoArrayFromJson(data);
						// user has no info if repos is empty, so just return
						if (!repos.length) {
							input.val("");
							return;
						}
						var imgSrc = imgSrcFromJson(data);
						// update html elements
						$(`#${REPOS_HEADER_ID}`).text(`${username}'s Repositories...`);
						$(`#${PROFILE_IMG_ID}`).attr(SRC_ATTR, imgSrc);
						populateRepoList(repos);
					});
				}
			});

			function makeGithubRequest(username, onSuccess) {
				$.ajax({
					url: `https://api.github.com/users/${username}/repos`,
					type: "get",
					error: function(XMLHttpRequest, textStatus, errorThrown){
						alert("Could not load information for that username. Please try again.");
					},
					success: function(data){
						onSuccess(data);
					}
				});
			}

			function repoArrayFromJson(json) {
				// check for user with no repos
				if (!json.length) {
					alert("This user has no repositories nor profile image. Please try again.");
					return [];
				}
				// create array of repo names from json
				var repos = [];
				for (var i = 0; i < json.length; i++) {
					var repoJson = json[i];
					repos.push(repoJson[JSON_NAME_KEY]);
				}
				return repos;
			}

			function imgSrcFromJson(json) {
				// arbitrarily use first repo to grab profile img
				var firstRepo = json[0];
				var imgSrc = firstRepo[JSON_OWNER_KEY][JSON_IMG_KEY];
				return imgSrc;
			}

			function populateRepoList(repos) {
				var repoListElem = $(`#${REPOS_LIST_ID}`)
				repoListElem.empty();
				for (var i = 0; i < repos.length; i++) {
					var repoName = repos[i];
					var newLiHTML = `<li class="list-group-item">${repoName}</li>`;
					repoListElem.append(newLiHTML);
				}
			}

		});
	</script>

</head>

<body>

<div class="container">
	<h1 class="row">Github Repo Searcher</h1>

	<!-- Input field -->
	<div class="row">
		<div class="row user-input-group input-group">
			<span class="input-group-addon" id="basic-addon1">@</span>
			<input id="github-username-input" type="text" class="form-control" placeholder="Type Github Username" aria-describedby="basic-addon1">
		</div>
	</div>

	<!-- User information... -->
	<div class="row">
		<!-- Avatar/profile image... -->
		<div class="col-md-4">
			<img id="profile-img" class="row" src="https://image.flaticon.com/icons/svg/118/118781.svg">
			<p class="row"> <!-- attribution... -->
				Placeholder icon made by <a href="https://www.flaticon.com/authors/lucy-g">CC 3.0 BY </a>
				from <a href="https://www.flaticon.com/"> www.flaticon.com </a>
			</p>
		</div>
		<!-- List of repos... -->
		<div class="col-md-8">
			<h3 id="repos-header">Repositories...</h3>
			<ul id="repos-list" class="list-group">
				<li class="list-group-item">Empty. Please enter username to populate</li>
			</ul>
		</div>
	</div>
</div>

</body>

</html>